<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Cadastro de Cliente</title>
    </head>
    <body>
        <form method="POST" action="cadastra">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite o seu Nome aqui.">
            </div>
            <div>
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" placeholder="Digite o seu CPF aqui.">
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" placeholder="Digite o seu E-mail aqui.">
            </div>
            <div>
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario" name="usuario" placeholder="Digite o seu Usuário aqui.">
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite a sua Senha aqui.">
            </div>
            <input type="submit" name="enviar" value="Cadastrar"> <input type="reset" name="limpar" value="Limpar">
        </form>
        <br>
        <a href="index">Página Inicial</a>
    </body>
</html>