<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Autenticação de Usuários</title>
</head>
<body>
    <form method="POST" action="autentica">
        <div>
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite o seu Nome aqui.">
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite o seu E-mail aqui.">
        </div>
        <input type="submit" name="enviar" value="Autenticar"> <input type="reset" name="limpar" value="Limpar">
    </form>
    <br>
    <a href="index">Página Inicial</a>
</body>
</html>

